<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" {% if rtl %}dir="rtl"{% endif %} >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="Description" content="PHP-Addressbook" />
  <meta name="Keywords" content="" />
  {% block meta %}{% endblock %}

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <style type="text/css">
    body { background-image:url('./skins/header-{{skin_color}}.jpg'); }
    table#maintable th { background:{{skin_mt_color}}; }
    table#birthdays th { background:{{skin_mt_color}}; }
  </style>
  <!--[if !IE]>-->
  <link media="only screen and (max-device-width: 480px)" rel="stylesheet" type="text/css" href="iphone.css"/>
  <!--<![endif]-->
  <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

  <!-- javascripts -->
  <script type="text/javascript" src="javascript/index.js"></script>
  <script type="text/javascript" src="3rdparty/js/tablesort.min.js"></script>
  
  <link rel="icon" type="image/png" href="{{url_images}}icons/font.png" />
  {% if rtl %}
    <style type="text/css">
      <!--
      /* CSS for right to left */
      label {margin-left:0.5em;float:right;text-align:right;}
      #content,#right,.right {float:left;}
      #nav,#left,.left {float:right;}
      -->
    </style>
  {% endif %}
  
  <title>{% block title %}{% trans "ADDRESS_BOOK" %}{% if group_name %} {{group_name}}{% endif %}:{% endblock %}</title>
</head>
  
<body>
  <div id="container">
    <div id="top">
      {% if userlist %}
        <form name="logout" method="post" class="header">
          <input type="hidden" name="logout" value="yes" />
          {% if username %}<b>({{username}}</b> {% endif %}
          <a href="#" onClick="document.logout.submit();">{% trans "LOGOUT" %}</a>
        </form>
      {% else %}
        <b>({{remote_addr}})</b>
      {% endif %}
    </div>
    
    <div id="header">
      <h1>
        <a href=".">{% trans "ADDRESS_BOOK" %}</a>
      </h1>
      <a href=".">
        <img src="{{url_images}}title_x2.png" width=340 height=75 title="Addressbook" alt="Addressbook" id="logo" />
      </a>
    </div>
    
    <div id="nav">
      {% include "navigation.html" %}
    </div>
    
    <div id="content">
      {% block content %}{% endblock %}
    </div>
        
    <div id="footer">
      <br/>
      <ul>
        <li>
          <a href="http://sourceforge.net/projects/php-addressbook/">php-addressbook</a> 
          <a href="notes.htm">v{{version}}</a>
        </li>
      </ul>
    </div>
  </div>
</body>

{% if use_ajax %}
<script type="text/javascript">
<!--
  filterResults(document.getElementsByName("searchstring")[0]);
//-->
</script>
{% endif %}

<!-- 
Copyright Notice:
This script was written by Rob Minto, and is free to use and distribute under GPL. 
Any improvements, please email rob(at)widgetmonkey.com. 
Keep software free. 
And please leave this copyright notice. Thanks.

Major update 2007-2009 by Olivier Chatelain, feel free to use and distribute under GPL. 
Any improvements, please email chatelao(at)users.sourceforge.net. 

Updated 2009 - Complete theme redesign by Leighton West. Any theme problems,
please email retrorobot(at)users.sourceforge.net.

Major contribution Mark James ("famfamfam"-icons, cc-by-2.5)
For more details see: http://www.famfamfam.com/lab/icons/silk/

Major contribution "frequency decoder" ("Unobtrusive Table Sort Script", cc-by-sa-2.5)
For more details see: http://www.frequency-decoder.com/2006/09/16/unobtrusive-table-sort-script-revisited/
-->
