{% extends "base.html" %} 

{% block content %}

{% if group_header %}{{group_header}}{% endif %}

<!-- searchform with or without ajax -->
<div id="search-az">
  {% if not use_ajax %}
    <form accept-charset="utf-8" method="get" name="searchform">
      <input type="text" value="{{searchstring}}" name="searchstring" title="{% trans "SEARCH_FOR_ANY_TEXT" %}" size="45" tabindex="0"/>
      <input name="submitsearch" type="submit" value="{% trans "SEARCH" %}" />    
    </form>
    <div id='a-z'>
      {% for letter in 'a'..'z' %}
        <a href='index.php?alphabet={{ letter }}'>{{ letter|upper }}</a> | 
      {% endfor %}
      <a href='index.php'>{% trans "ALL" %}</a>
    </div>
  {% else %}
    <form accept-charset="utf-8" method="get" name="searchform" onsubmit="return false">
      <input type="text" value="{{searchstring}}" name="searchstring" title="{% trans "SEARCH_FOR_ANY_TEXT" %}" size="45" tabindex="0" 
      {% if use_ajax %}onkeyup="filterResults(this)"{% endif %}/>
    </form>
  {% endif %}
  <script type="text/javascript">document.searchform.searchstring.focus();</script>
</div>
<br />

<hr />

<!-- group selector -->
<label style='width:24em;'><strong>{% trans "NUMBER_OF_RESULTS" %}: <span id='search_count'>{{resultsnumber}}</span></strong></label>

{% if table_groups and not is_fix_group %}
  <form id="right" method="get">
    <select name="group" onchange="this.parentNode.submit()">
      <option value="">[{% trans "ALL" %}]</option>
      <option value="[none]">[{% trans "NONE" %}]</option>
      {% if group_names %}
        {% for group in group_names %}
            <option 
              {% if group_name %}{% if group == group_name %}selected{% endif %}{% endif %}>
              [{{group}}]
            </option>
        {% endfor %}
      {% endif %}
    </select>
  </form>
{% endif %}
<br />
<br class="clear" />

<!-- output of table -->
<form accept-charset="utf-8" name="MainForm" method="post" action="group.php">
  <input type="hidden" name="group" value="{{group}}" />
  &nbsp;<input type='checkbox' id='MassCB' onclick=\"MassSelection()\" /> <em><strong>{% trans "SELECT_ALL" %}</strong></em><br><br>
  <table id="maintable" class="sortcompletecallback-applyZebra">
    <!-- table header -->
    <tr>
      {% if not is_mobile %}
        {% set disp_cols_filter1 = ["home", "work", "mobile", "select", "edit", "vcard", "map", "homepage", "details"] %}
        {% set disp_cols_filter2 = ["home", "work", "mobile"] %}
        {% for col in disp_cols %}
          {% if col not in disp_cols_filter1 %}
            {% set col = col|upper %}
            <th class='sortable'>{% trans col %}</th>
          {% elseif col in disp_cols_filter2 %}
            {% set col = col|upper %}
            <th>{% trans %}"PHONE_"{{col}}{% endtrans %}</th>
          {% else %}
            <th></th>
            {% if col == "edit" and not read_only %}{# row for edit #}
              <th></th>
            {% endif %}
            {% if col == "details" %}
              <th></th>
              <th></th>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </tr>
    
    {# table content (addresses) #}
    {% for address in addresses %}
      <tr class='{#{% loop.index0 % 2 ? 'odd' %}#}' name='entry'>
      {% if is_mobile %}
        {% addRow("lastname") %}
        {% addRow("firstname") %}
        {% addRow("edit") %}
      {% else %}
        {% for col in disp_cols %}
          {% addRow(col) %}
        {% endfor %}
      {% endif %}
      </tr>
    {% endfor %}
  </table>
  &nbsp;<input type='checkbox' id='MassCB' onclick=\"MassSelection()\" /> <em><strong>{% trans "SELECT_ALL" %}</strong></em><br><br>
  
  {#
  <!-- actions (left: send mail, add to group, delete) -->
  <div class='left'>
    <?php
    if($use_doodle) {
      echo "<input type='button' value=\"{% trans "DOODLE")."\"   onclick=\"Doodle()\" />";
    }
    echo "<input type='button' value=\"{% trans "SEND_EMAIL")."\" onclick=\"MailSelection()\" />";
    
    if(! $read_only) {
      if(isset($table_groups) and $table_groups != "" and !$is_fix_group)
      {
        // -- Remove from group --
        if($group_name != "" and $group_name != "[none]") 
        {
          echo "<br/><input type='submit' name='remove' value='{% trans "REMOVE_FROM")." \"$group_name\"'/>";
        } 
        //else
        //echo "<div></div>";

        // -- Add to a group --
        echo "<br/><input type='submit' name='add' value='{% trans "ADD_TO")."'/>-";
        echo "<select name='to_group'>";
        $sql="SELECT group_name FROM $groups_from_where ORDER BY lower(group_name) ASC";
        $result = mysql_query($sql);
        $resultsnumber = mysql_numrows($result);
  
        while ($myrow = mysql_fetch_array($result))
        {
          echo "<option>".$myrow["group_name"]."</option>\n";
        }
        echo "</select>";
      }
      echo "<br/><input type='button' value=\"{% trans "DELETE")."\"     onclick=\"DeleteSel()\" />";
    } ?>
  </div>
</form>

<!-- show group footer -->
<?php if($group_name != "" and $group_myrow['group_footer'] != "") {
  echo "<hr />".$group_myrow['group_footer']."<hr />";
} ?>

<!-- print actions -->
<div class="right" style="clear:right">
  <form>
    <input type="button" value="<?php echo msg('PRINT_ALL'); ?>" onclick="window.location.href='view.php?all&amp;print'">
    <br/><input type="button" value="<?php echo msg('PRINT_PHONES'); ?>" onclick="window.location.href='view.php?all&amp;print&amp;phones'">
  </form>
</div>

#}

{% endblock %}